#root {
  max-width: 1280px;
  margin: 0 auto;
  flex: 1;
}

.sidebar {
  background-color: white;
  border: 2px solid #111111;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 16px;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-pic {
  background-color: black;
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.dashboard {
  flex: 1;
  height: 100vh;
  background-color: white;
  border: 2px solid #111111;
}